
<div class="container mt-5" class="bodycontainer">
    <h1 class="text-center" style="color: #5161CE;">My Feedback</h1>
    <hr style="border-color: #D1D9FF;">
   

            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>S.No</th>
                        <th>Feedback</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   
                        <td>{{feedBacks.feedbackId}}</td>
                        <td>{{feedBacks.feedbackText}}</td>
                        <td><button class="btn btn-custom" (click)="deleteBtn(feedBacks.feedbackId)">Delete</button></td>
              
                </tbody>
            </table>
           
            <div *ngIf="feedBack.length == 0" class="oops">
                Oops, no record
            </div>
        </div>
  
 
<div *ngIf="deleteit" class="modal fade show" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered mt-3">
    <div class="modal-content">
    <div class="modal-body">
    <div class="d-flex justify-content-center">
    <p>Are you sure you want to delete?</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
    <button type="button" class="bute btn btn-danger mr-4" (click)="yesDelete()">Yes, Delete</button>
    <button type="button" class="bute btn btn-secondary ml-4" (click)="close()">Cancel</button>
    </div>
    </div>
    </div>
</div>
</div>